{% load static %}

<div>
    <p id="assessment-timer"></p>
    <img src="{% static 'images/covers/'|add:assessment.cover_image %}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title text-truncate">{{ assessment.course_name }}</h5>
        <p class="card-text">{{ assessment.title }}</p>
    </div>
    <div class="card-footer d-flex justify-content-between time-display">
        <div>
            <p class="text-muted mb-0">Start Time</p>
            <p>{{ assessment.start_time|time:"H:i" }}</p>
        </div>
        <div>
            <p class="text-muted mb-0">End Time</p>
            <p>{{ assessment.end_time|time:"H:i" }}</p>
        </div>
    </div>
</div>