{% extends 'base/base.html' %}
{% load static %}
{% load home_filters %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ student_name }}</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-0 mb-0">
        <h3 class="fs-5 fw-normal text-muted">{{ student_number }}</h3>
        <div class="btn-group me-2">
            <a href="{% url 'home:end_session' %}" class="btn btn-outline-secondary">
                New Session
            </a>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-wrap gap-3">
    {% for assessment in assessments %}
        {% if assessment.start_time|now_or_after %}
            <a id="assessment" data-start-time="{{ assessment.start_time|date:'Y/m/d H:i:s' }}"
                class="card clickable" href="{% url 'submissions:index' assessment.id %}">
                {% include 'home/assessment_card.html' with assessment=assessment %}
            </a>
        {% else %}
            <a id="assessment" data-start-time="{{ assessment.start_time|date:'Y/m/d H:i:s' }}"
                class="card clickable">
                {% include 'home/assessment_card.html' with assessment=assessment %}
            </a>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'home.js' %}"></script>
{% endblock %}