#assessment {
  position: relative;
  overflow: clip;
  width: 18rem;
}

#assessment-timer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 45%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  display: none;
}