<a href="{% url 'courses:details' course.id %}" style="text-decoration: none; color: inherit">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-2">
          <div class="h-100 w-100 d-flex justify-content-center align-items-center"
               style="background: {{ course.color }}">
              <h3 class="font-monospace h5">{{ course.code }}</h3>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">{{ course.name }}</h5>
            <p class="card-text"><small class="text-muted">Lecturers: {{ course.lecturer_names }}</small></p>
          </div>
        </div>
      </div>
    </div>
</a>