{% extends 'base/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-0 mb-0">
        <h2 class="fw-normal">Create Course</h2>
        <button class="btn btn-outline-light" onclick="history.back()">
            <i class="fas fa-arrow-left"></i>
            Back
        </button>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-secondary px-5">Create</button>
            </form>
        </div>
    </div>
{% endblock %}