{% extends 'base/base.html' %}
{% load static %}
{% load home_filters %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ course }}</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-0 mb-0">
        <h3 class="fs-5 fw-normal text-muted">Assessments</h3>
        <a class="btn btn-light" href="{% url 'assessments:create' %}?course={{ course.id }}">
            <i class="fas fa-plus"></i>
            Create
        </a>
    </div>
    <hr />

    <div class="d-flex flex-wrap gap-3">
    {% for assessment in assessments %}
        <a id="assessment" class="card clickable">
            {% include 'courses/assessment_card.html' with assessment=assessment %}
        </a>
    {% endfor %}
    </div>
{% endblock %}
