.app-name {
    font-variant: small-caps;
}

nav img {
    width: 32px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    flex: 1;
    min-height: 65vh;
    margin-bottom: 10vh;
}

.card img {
    height: 150px;
    object-fit: cover;
}

footer {
    font-size: 0.8rem;
}

.clickable {
    text-decoration: none;
    color: inherit;
}

.time-display {
    font-size: 0.9rem;
}