{% extends 'base/base.html' %}

{% block content %}
    <h1 class="display-4">{{assessment}}</h1>
    <p>{{ assessment.course }}</p>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Student</th>
                <th scope="col">IP Address</th>
                <th scope="col">Submission Time</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>{{ submission.student }}</td>
                    <td>{{ submission.ip_address }}</td>
                    <td>{{ submission.submitted_at|date:"d/m/Y H:i:s"  }}</td>
                    <td><a href="{{ submission.attachment.url }}" download>Download</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        const copyButton = document.getElementById('copy-button');
        const secretKey = document.getElementById('secret-id');
        copyButton.addEventListener('click', function(event) {
            navigator.clipboard.writeText(secretKey.value)
              .catch((err) => {
                console.error('Error copying text: ', err);
                secretKey.select();
                document.execCommand('copy');
              });
        });


    </script>
{% endblock %}