{% extends 'base/base.html' %}


{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="display-4">Assessments</h1>
        <a class="btn btn-light" href="{% url 'assessments:create' %}">Create</a>
    </div>
    <hr />
    <div class="row align-items-center">
        <div class="col-md-5">
            <input type="email" class="form-control pb-2" placeholder="Assessment Secret ID">
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-light">Take Me There</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const secretId = document.querySelector('input');
    const button = document.querySelector('button');
    button.addEventListener('click', () => {
        if (secretId.value){
            window.location.href = `/assessments/${secretId.value}`;
        }
    });
</script>
{% endblock %}